.upload-parent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.upload-main {
  display: flex;
  flex-direction: column;
}

.upload-interactive {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.upload-percent {
  margin: 15px 0px 15px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.upload-output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-banner {
  margin-top: 0;
  padding-top: 0;
  height: 300px;
  background-image: url("../assets/upload_banner.jpg");
  background-position: center;
  background-repeat: no-repeat;

  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  margin-bottom: 30px;

  padding: 20px;
  text-align: justify;
  text-align-last: center;
}

.mytabs-parent{
  display: flex;
  flex-direction: row;
}

.mytabs-tabs{
  flex: 3;
}

.mytabs-list{
  flex: 1;
}