.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.invisible {
  color: white;
  margin: 0px 15px 0x 15px;
}

.col {
  margin: 0px 15px 0x 15px;
}

.alive {
  background-color: grey;
  margin: 0px 15px 0x 15px;
}

.dormant {
  /* background-color: grey; */
  margin: 0px 15px 0x 15px;
}

.bar {
  display: flex;
  flex-direction: row;
  margin: 0px 20px 0px 20px;
  flex-wrap: wrap;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
